body {
  background-color: #fff6c7;
}
h1 {
  color: #e4a810;
  text-align: center;
}

.watame-img {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.card-container {
  background-color: #fff3b5;
  border-radius: 15px;
  width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border: 2px dashed orangered;
}

.product-img {
  width: 350px;
  border-radius: 15px;
}

.text-content {
  color: #ff7fc5;
}

.action-area {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.totalPriceDisplay {
  margin: 0 15px;
  color: #ff7fc5;
  font-weight: bold;
  font-size: 24px;
}

.qty-input {
  width: 60px;
  text-align: center;
  border: 1px solid orangered;
  border-radius: 5px;
  font-size: 16px;
}

.buy-btn {
  background-color: #fff47f;
  color: rgb(201, 68, 68);
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {
  .watame-img {
    width: 100%;
    height: auto;
  }
  .card-container {
    flex-direction: column;
    width: 90%;
  }
  .product-img {
    width: 100%;
    height: auto;
  }

  .action-area {
    flex-direction: column;
  }

  .qty-input,
  .buy-btn {
    width: 100%;
  }
  .totalPriceDisplay {
    text-align: center;
    font-size: 24px;
  }
}
